Flask
Flask-Script==2.0.6
Flask-Testing==0.6.2
flask-restful
flask-jwt-extended
Flask-SQLAlchemy==2.1
flask-migrate
mysqlclient
passlib
Werkzeug
python-dotenv
blinker
redis==2.10.6
rq==0.10.0
scipy
numpy
matplotlib
Pillow
sklearn
SpeechRecognition
